body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.container{
  display: flex;
padding: 0;
margin: auto;

flex-direction: column;
}
.instagram{
margin: auto;
}

section {
  padding: 50px 20px;
  margin: auto;
  width: 800px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

a .yS1foEzME51a7cbEy7gg,
.yS1foEzME51a7cbEy7gg,
.kCcUhw9eiyaNRu5PbXLh {
  display: none !important;

}
